/uglifyjs/
/asset/
/com/
/dbdoc/
/grails/
/hibernate/
/hibernate.cfg.xml
/javascripts/
/org/
/spring/
/AssetPipelineBootStrap$_closure1.class
/AssetPipelineBootStrap.class
/AssetUrlMappings$__clinit__closure1.class
