/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/
#login {
    height: 401px;
    position: relative;  
    top: 72px;
}
#login #submit {
    background-color: #007bff;
    margin-left: 35px !important;
}
.fheader {
    text-align: center;
}
p#remember_me_holder {
    display: none;
}
body {
    width: 50%;
